
/x64
/.vs
/quick-addition/x64
/quick-multiplication/x64
quick-addition/quick-addition.vcxproj.user
quick-addition/quick-addition.vcxproj.filters
quick-multiplication/quick-multiplication.vcxproj.user
quick-multiplication/quick-multiplication.vcxproj.filters

/quick-division/x64/Debug
*.filters
*.user
